
<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar">
<%= form_tag(controller: :csvdata, action: :read) do %>
      <div class="panel panel-default">
        <div class="panel-heading">カテゴリー</div>
          <ul class="list-group">
            <%= submit_tag "その他" , class: "list-group-item", name: "sonota_button" %>
<!--             <%= submit_tag "     － その他施設" , class: "list-group-item", name: "sonota_shisetsu_button" %>
            <%= submit_tag "     － 無線LANスポット" , class: "list-group-item", name: "musen_lan_spot_button" %> -->
            <%= submit_tag "医療・福祉" , class: "list-group-item", name: "iryo_fukushi_button" %>
<!--             <%= submit_tag "     － 介護老人保健施設" , class: "list-group-item", name: "kaigo_rojin_hoken_button" %>
            <%= submit_tag "     － 特別養護老人ホーム" , class: "list-group-item", name: "tokubetsu_yougo_rojin_button" %>
            <%= submit_tag "     － 病院・診療所" , class: "list-group-item", name: "byoin_shinryojyo_button" %>
            <%= submit_tag "     － 福祉施設" , class: "list-group-item", name: "fukushi_shisetsu_button" %>
 -->            <%= submit_tag "駅・バス停" , class: "list-group-item", name: "eki_bustei_button" %>
<!--             <%= submit_tag "     － バス停" , class: "list-group-item", name: "bustei_button" %>
            <%= submit_tag "     － 駅" , class: "list-group-item", name: "eki_button" %>
 -->            <%= submit_tag "会館・ホール" , class: "list-group-item", name: "kaikan_hole_button" %>
<!--             <%= submit_tag "     － 会館・ホール" , class: "list-group-item", name: "kaikan_hole_button" %>
            <%= submit_tag "     － 地域集会所・老人憩いの家" , class: "list-group-item", name: "chiiki_syukaisyo_rojin_ikoino_ie_button" %>
 -->            <%= submit_tag "学校・保育所" , class: "list-group-item", name: "gakko_hoikusyo_button" %>
<!--             <%= submit_tag "     － 学校(その他)" , class: "list-group-item", name: "gakko_sonota_button" %>
            <%= submit_tag "     － 高等学校" , class: "list-group-item", name: "kouto_gakko_button" %>
            <%= submit_tag "     － 小学校" , class: "list-group-item", name: "syo_gakko_button" %>
            <%= submit_tag "     － 大学" , class: "list-group-item", name: "daigaku_button" %>
            <%= submit_tag "     － 中学校" , class: "list-group-item", name: "chugakko_button" %>
            <%= submit_tag "     － 保育所" , class: "list-group-item", name: "hoikusyo_button" %>
            <%= submit_tag "     － 幼稚園" , class: "list-group-item", name: "yochien_button" %>
 -->            <%= submit_tag "官公庁" , class: "list-group-item", name: "kankoucho_button" %>
<!--             <%= submit_tag "     － 国の機関" , class: "list-group-item", name: "kunino_kikan_button" %>
            <%= submit_tag "     － 市の機関" , class: "list-group-item", name: "shi_kikan_button" %>
            <%= submit_tag "     － 府の機関" , class: "list-group-item", name: "fu_kikan_button" %>
 -->            <%= submit_tag "環境・リサイクル" , class: "list-group-item", name: "kankyo_recycle_button" %>
<!--             <%= submit_tag "     － 古紙回収協力店" , class: "list-group-item", name: "furukami_kaisyu_kyoryokuten_button" %>
 -->            <%= submit_tag "警察・消防" , class: "list-group-item", name: "keisatsu_syobo_button" %>
<!--             <%= submit_tag "     － 警察・交番" , class: "list-group-item", name: "keisatus_koban_button" %>
            <%= submit_tag "     － 消防署" , class: "list-group-item", name: "syobosyo_button" %>
 -->            <%= submit_tag "公園・スポーツ" , class: "list-group-item", name: "koen_sports_button" %>
<!--             <%= submit_tag "     － スポーツ施設" , class: "list-group-item", name: "sports_shisetsu_button" %>
            <%= submit_tag "     － 公園" , class: "list-group-item", name: "koen_button" %>
            <%= submit_tag "     － 児童遊園・広場" , class: "list-group-item", name: "jido_koen_hiroba_button" %>
 -->            <%= submit_tag "公衆トイレ" , class: "list-group-item", name: "kosyu_toilet_button" %>
<!--             <%= submit_tag "     － 公衆便所" , class: "list-group-item", name: "kosyu_benjyo_button" %>
            <%= submit_tag "     － 車いす対応公衆便所" , class: "list-group-item", name: "kurumaisu_taio_kosyu_benjyo_button" %>
 -->            <%= submit_tag "駐車場・駐輪場" , class: "list-group-item", name: "tyusyajyo_tyurinjyo_button" %>
<!--             <%= submit_tag "     － バイク駐車場" , class: "list-group-item", name: "bike_tyusyajyo_button" %>
            <%= submit_tag "     － 駅周辺駐輪場" , class: "list-group-item", name: "ekisyuhen_tyurinjyo_button" %>
            <%= submit_tag "     － 駅周辺駐輪場（その他）" , class: "list-group-item", name: "ekisyuhen_tyurinjyo_sonota_button" %>
            <%= submit_tag "     － 自転車保管所" , class: "list-group-item", name: "jitensya_hokanjyo_button" %>
 -->            <%= submit_tag "文化・観光" , class: "list-group-item", name: "bunka_kanko_button" %>
<!--             <%= submit_tag "     － その他施設" , class: "list-group-item", name: "bunka_kanko_sonota_button" %>
            <%= submit_tag "     － 図書館" , class: "list-group-item", name: "tosyokan_button" %>
            <%= submit_tag "     － 都市景観資源" , class: "list-group-item", name: "toshi_keikan_shigen_button" %>
            <%= submit_tag "     － 美術館・博物館" , class: "list-group-item", name: "bijyutsukan_hakubutsukan_button" %>
 -->            <%= submit_tag "名所・旧跡" , class: "list-group-item", name: "meisyo_kyuseki_button" %>
<!--             <%= submit_tag "     － 社寺" , class: "list-group-item", name: "syaji_button" %>
            <%= submit_tag "     － 名所・旧跡" , class: "list-group-item", name: "meisyo_kyuseki_syosai_button" %>
 -->          </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">地区</div>
          <ul class="list-group">
都島区
福島区
此花区
西区
港区
大正区
天王寺区
浪速区
西淀川区
東淀川区
東成区
生野区
旭区
城東区
阿倍野区
住吉区
東住吉区
西成区
淀川区
鶴見区
住之江区
平野区
北区
中央区
その他
         </ul>
      </div>

<% end %>
    </div>
    <div class="col-md-9 content-area">

<!--
      <div style='width: 800px;'>
        <div id="map" style='width: 800px; height: 500px;'></div>
      </div>
-->

      <script type="text/javascript">
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
      </script>

      <%= page_entries_info @csv_obj %>
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>施設名</th>
            <th>所在地</th>
            <th>地区名</th>
            <th>TEL</th>
            <th>FAX</th>
            <th>詳細情報</th>
            <th>URL</th>
            <th>カテゴリー</th>
          </tr>
        </thead>

        <tbody>
          <% if @csv_obj.present? %>
          <% @csv_obj.each do |csv| %>
            <tr>
    <!--
              <td><%= csv.x %></td>
              <td><%= csv.y %></td>
    -->
              <td><%= csv.shisetsu_name %></td>
    <!--
              <td><%= csv.shisetsu_name_kana %></td>
              <td><%= csv.shisetsu_name_all %></td>
    -->
              <td><%= csv.syozaichi %></td>
              <td><%= csv.chiku_name %></td>
              <td><%= csv.tel %></td>
              <td><%= csv.fax %></td>
              <td><%= csv.syosai_info %><%= csv.kaikan_jikan %><%= csv.barrier_free_info %><%= csv.tyurinjyo_pc %><%= csv.tyurinjyo_kei %></td>
              <td><%= csv.url %></td>
    <!--
              <td><%= csv.dai_bunrui %></td>
              <td><%= csv.syo_bunrui %></td>
    -->
              <td><%= csv.category %></td>
    <!--
              <td><%= csv.icon_no %></td>
              <td><%= csv.shisetsu_id %></td>
    -->
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @csv_obj %>
    </div>
  </div>
</div>

