
<%= form_tag({controller: :facility, action: :index}, {name: "form", id: "form" }) do %>
<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar">
      <div class="panel panel-default">
        <div class="panel-heading">検索条件</div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="panel panel-default">
              <div class="panel-heading">名称</div>
                <ul class="list-group">
                  <li class="list-group-item"><%= text_field :text, :shisetsu_name, class: "form-control", value: @shisetsu_name_value %></li>
               </ul>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">カテゴリー</div>
              <ul class="list-group">
                <li class="list-group-item">
                  <%= select_tag "category", options_from_collection_for_select(Category.all, :db_name, :db_name, @category_selected), class: "form-control", include_blank: true %>
                </li>
              </ul>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                地区
              </div>
              <div class="list-group">
                <%= hidden_field_tag 'check[chikus][]' %>&nbsp;
                <% @chiku_array.each.with_index do |chiku, i| %>
                  <label class="checkbox-inline">
                    <%= check_box_tag 'check[chikus][]', chiku[0], chiku[1], id: "check_chikus_#{i}" %>
                    <%= chiku[0] %>
                  </label>
                <% end %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <%= submit_tag "上記の条件で再検索" , class: "form-control btn btn-info", name: "submit_button" %>
          </li>
        </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">このサイトについて</div>
        <ul class="list-group">
          <li class="list-group-item">
            <p>当サイトは大阪市の提供するオープンデータを利用した個人サイトです。</p>
            <p>当サイトの御利用につき、何らかのトラブルや損失・損害等が発生した場合につきましては一切責任を問わないものとします。</p>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-md-9 content-area">
        <div class="map_container">
          <div id="map" class="map_canvas"></div>
        </div>
        <script type="text/javascript">
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        </script>
        <style type="text/css">
          .map_container {
              position: relative;
              width: 100%;
              margin-bottom: 20px;
              padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
          }

          .map_container .map_canvas {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: 0;
              padding: 0;
          }
        </style>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-condensed">
            <tbody>
                <tr>
                  <th style="width:20%;" class="info">施設名</th>
                  <td style="width:80%;"><%= @facility.shisetsu_name %></td>
                </tr>
                <tr>
                  <th class="info">施設名（かな）</th>
                  <td><%= @facility.shisetsu_name_kana %></td>
                </tr>
                <tr>
                  <th class="info">所在地</th>
                  <td><%= @facility.syozaichi %></td>
                </tr>
                <tr>
                  <th class="info">地区名</th>
                  <td><%= @facility.chiku_name %></td>
                </tr>
                <tr>
                  <th class="info">TEL</th>
                  <td><%= @facility.tel %></td>
                </tr>
                <tr>
                  <th class="info">FAX</th>
                  <td><%= @facility.fax %></td>
                </tr>
                <tr>
                  <th class="info">詳細情報</th>
                  <td><%= @facility.syosai_info %></td>
                </tr>
                <tr>
                  <th class="info">開館時間</th>
                  <td><%= @facility.kaikan_jikan %></td>
                </tr>
                <tr>
                  <th class="info">URL</th>
                  <td><%= @facility.url %></td>
                </tr>
                <tr>
                  <th class="info">バリアフリー情報</th>
                  <td><%= @facility.barrier_free_info %></td>
                </tr>
                <tr>
                  <th class="info">駐輪場（PC）</th>
                  <td><%= @facility.tyurinjyo_pc %></td>
                </tr>
                <tr>
                  <th class="info">駐輪場（携）</th>
                  <td><%= @facility.tyurinjyo_kei %></td>
                </tr>
                <tr>
                  <th class="info">大分類</th>
                  <td><%= @facility.dai_bunrui %></td>
                </tr>
                <tr>
                  <th class="info">小分類</th>
                  <td><%= @facility.syo_bunrui %></td>
                </tr>
                <tr>
                  <th class="info">カテゴリー</th>
                  <td><%= @facility.category %></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
<% end %>

