<div class="container">
  <div class="row">
    <%= render 'facility/side_bar' %>
    <div class="col-md-9 content-area">
        <a href="#" id="modoru">一覧に戻る</a>
        <div class="map_container">
          <div id="map" class="map_canvas"></div>
        </div>
        <script type="text/javascript">

          $("#modoru").click(function() {
            history.back();
            return false;
          });

          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @gmap_hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(16);
          });
        </script>
        <style type="text/css">
          .map_container {
              position: relative;
              width: 100%;
              margin-bottom: 20px;
              padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
          }

          .map_container .map_canvas {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: 0;
              padding: 0;
          }
        </style>
        <div class="table-responsive">
          <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                  <th style="width:20%;" class="info">施設名</th>
                  <td style="width:80%;"><%= @facility.shisetsu_name %></td>
                </tr>
                <tr>
                  <th class="info">施設名（かな）</th>
                  <td><%= @facility.shisetsu_name_kana %></td>
                </tr>
                <tr>
                  <th class="info">所在地</th>
                  <td><%= @facility.syozaichi %></td>
                </tr>
                <tr>
                  <th class="info">地区名</th>
                  <td><%= @facility.chiku_name %></td>
                </tr>
                <tr>
                  <th class="info">TEL</th>
                  <td><%= @facility.tel %></td>
                </tr>
                <tr>
                  <th class="info">FAX</th>
                  <td><%= @facility.fax %></td>
                </tr>
                <tr>
                  <th class="info">詳細情報</th>
                  <td><%= @facility.syosai_info %></td>
                </tr>
                <tr>
                  <th class="info">開館時間</th>
                  <td><%= @facility.kaikan_jikan %></td>
                </tr>
                <tr>
                  <th class="info">URL</th>
                  <% if @facility.url.blank? %>
                    <td>&nbsp;</td>
                  <% else %>
                    <td><%= link_to(@facility.url, @facility.url, :target=>["_blank"]) %></td>
                  <% end %>
                </tr>
                <tr>
                  <th class="info">バリアフリー情報</th>
                  <% if @facility.barrier_free_info.blank? %>
                    <td>&nbsp;</td>
                  <% else %>
                    <td><%= link_to(@facility.barrier_free_info, @facility.barrier_free_info, :target=>["_blank"]) %></td>
                  <% end %>
                </tr>
                <tr>
                  <th class="info">駐輪場（PC）</th>
                  <% if @facility.tyurinjyo_pc.blank? %>
                    <td>&nbsp;</td>
                  <% else %>
                    <td><%= link_to(@facility.tyurinjyo_pc, @facility.tyurinjyo_pc, :target=>["_blank"]) %></td>
                  <% end %>
                </tr>
                <tr>
                  <th class="info">駐輪場（携）</th>
                  <% if @facility.tyurinjyo_kei.blank? %>
                    <td>&nbsp;</td>
                  <% else %>
                    <td><%= link_to(@facility.tyurinjyo_kei, @facility.tyurinjyo_kei, :target=>["_blank"]) %></td>
                  <% end %>
                </tr>
                <tr>
                  <th class="info">大分類</th>
                  <td><%= @facility.dai_bunrui %></td>
                </tr>
                <tr>
                  <th class="info">小分類</th>
                  <td><%= @facility.syo_bunrui %></td>
                </tr>
                <tr>
                  <th class="info">カテゴリー</th>
                  <td><%= @facility.category %></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

